
@{
    ViewBag.Title = "Index";
}

<h3>MVC Kamp Tablo Örneği - Kategory</h3>
<table>
    <tr>
        <th>ID </th>
        <th> Adı</th>
        <th> Açıklama</th>
        <th> Durumu</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>deneme</td>
        <td>true</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Spor Hakkında</td>
        <td>true</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Bilgisayar</td>
        <td>MVC Geliştirme Dersleri</td>
        <td>true</td>
    </tr>

</table>
